<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      <h1>About Us</h1>
      <p>
        Welcome to our Air Quality Index (AQI) Prediction System. Our goal is to
        provide accurate predictions of air pollution levels so that individuals
        and communities can take proactive steps toward healthier living.
      </p>
    </div>
  </body>
</html>
